{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        {% endblock meta %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% sass_src 'scss\styles.scss' %}">
    <body>
        <body>
            <div class="navbar">
                <div class="navbar-left">
                    <a href="{% url 'main:show_main' %}" class="logo">Grocereis</a>
                </div>
                <div class="navbar-right">
                    {% if user_authenticated %}
                        <a href="{% url 'main:create_product' %}">Add Product</a> 
                        <div class="dropdown">
                            <button class="dropbtn">Welcome, {{user.username}}</button>
                            <div class="dropdown-content">
                                <a href="{% url 'main:logout' %}">Logout</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
                {% block content %}
                {% endblock content %}
            <div class="spacer"></div>
            <div class="footer">
                <p>&copy; Made by Athira Reika (PBP F) with <3 </p>
            </div>
        </body>
    </body>
</html>