{% extends 'base.html' %} 

{% block content %}

<style>
    @import url("https://fonts.googleapis.com/css2?family=Pangolin");
    @import url("https://fonts.googleapis.com/css2?family=Inter");
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

    body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 12;
    color: #59AA4C;
    background-color: #F6F1E5; }

    .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    justify-content: center; }

    .h5 {
    font-size: 30px;
    font-family: 'Pangolin', cursive;
    color: #59AA4C; }
</style>

<h1>Add New Product</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Add Product"/>
            </td>
        </tr>
    </table>
</form>

{% endblock %}